.navbar {
    align-items: center;
    display: flex;
    height: 70px;
    padding: 0 3%;
    width: 100%;
    box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);

    span{
        margin-left: 1%;
    }

    .dark-mode__toggle {
        background: papayawhip;
        border-radius: 50px;
        border: 1px solid black;
        height: 20px;
        position: relative;
        width: 40px;

        .toggle {
            background: #f68819;
            border-radius: 50px;
            height: 18px;
            left: 0;
            position: absolute;
            transition: 0.2s;
            width: 20px;
        }
          
        .toggled {
            left: 18px;
        }

    } // darkmode toggle

} // .navbar

.dark-mode {
    color: #fff;
    background-color: #313843;
  
    .navbar {
      background-color: #1F2022;
      border: none;
    }
  }